{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body>
    <div id="heading">
        <h1 class="heading">Welcome</h1>
    </div>
    <div id="main-body">
        {% if name %}
        <h3>Hello, {{name}}!</h3>
        {% else %}
        <h3>Hello visiter</h3>
        {% endif %}
        <ul>
            <li><a href="models/iris">Iris Classification</a></li>
            <li><a href="models/score">Score Prediction</a></li>
        </ul>
    </div>
</body>

</html>