body {
    background-color: #4a4a4a;
    font-size: 1.5rem;
}

#heading {
    text-align: center;
    color: white;
}

#main-body {
    color: white;
    margin: auto;
    width: 50%;
    height: 100%;
    border: 3px solid black;
    border-radius: 1%;
    padding: 10px;
    text-align: center;
}

#main-body input {
    width: 80%;
    margin: 1.5%;
}

#main-body button {
    width: 20%;
    font-size: 1.2rem;
}

#main-body a {
    color: white;
}